
<h1 style="text-align : center;">Mes oeuvres</h1>
<div class="oeuvres-lg">

<div class="art-block">



  <div class="art-oeuvre" id="art-oeuvre-1">
    <div class="img"></div>

    <div class="art-text">
      <h3>Porteur de  lumiere</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error pariatur at officiis necessitatibus illo impedit porro, et tenetur </p>
      <div data-num='0' class="btn">
        Galerie
      </div>

    </div>

  </div>
  <div class="gal" id="gal1">
    {% load static %}
    <img  class='lazyload' src="{% static 'img/loading.gif' %}" data-src="{% static 'img/300X600.png' %}"   alt="exemple de oeuvre1">
    <img  class='lazyload' src="{% static 'img/loading.gif' %}" data-src="{% static 'img/600X300.png' %}"   alt="exemple de oeuvre1">
    <img  class='lazyload' src="{% static 'img/loading.gif' %}" data-src="{% static 'img/300X600.png' %}"   alt="exemple de oeuvre1">
    <img  class='lazyload' src="{% static 'img/loading.gif' %}" data-src="{% static 'img/300X600.png' %}"   alt="exemple de oeuvre1">
    <img  class='lazyload' src="{% static 'img/loading.gif' %}" data-src="{% static 'img/300X600.png' %}"   alt="exemple de oeuvre1">
    <img  class='lazyload' src="{% static 'img/loading.gif' %}" data-src="{% static 'img/300X600.png' %}"   alt="exemple de oeuvre1">
    <img  class='lazyload' src="{% static 'img/loading.gif' %}" data-src="{% static 'img/600X300.png' %}"   alt="exemple de oeuvre1">
    <img  class='lazyload' src="{% static 'img/loading.gif' %}" data-src="{% static 'img/300X600.png' %}"   alt="exemple de oeuvre1">
  </div>
<!-- fin de container contenant les oeuvres et le mot pour les lg  -->
</div>

<div class="art-block">



  <div class="art-oeuvre" id="art-oeuvre-2">
    <div class="img"></div>

    <div class="art-text">
      <h3>Porteur de  lumiere</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error pariatur at officiis necessitatibus illo impedit porro, et tenetur </p>
      <div data-num='1' class="btn">
        Galerie
      </div>

    </div>

  </div>
  <div class="gal" id="gal2">
    {% load static %}
    <img  class='lazyload' src="{% static 'img/loading.gif' %}" data-src="{% static 'img/300X600.png' %}"   alt="exemple de oeuvre1">
    <img  class='lazyload' src="{% static 'img/loading.gif' %}" data-src="{% static 'img/600X300.png' %}"   alt="exemple de oeuvre1">
    <img  class='lazyload' src="{% static 'img/loading.gif' %}" data-src="{% static 'img/300X600.png' %}"   alt="exemple de oeuvre1">
    <img  class='lazyload' src="{% static 'img/loading.gif' %}" data-src="{% static 'img/300X600.png' %}"   alt="exemple de oeuvre1">
    <img  class='lazyload' src="{% static 'img/loading.gif' %}" data-src="{% static 'img/300X600.png' %}"   alt="exemple de oeuvre1">
    <img  class='lazyload' src="{% static 'img/loading.gif' %}" data-src="{% static 'img/300X600.png' %}"   alt="exemple de oeuvre1">
    <img  class='lazyload' src="{% static 'img/loading.gif' %}" data-src="{% static 'img/600X300.png' %}"   alt="exemple de oeuvre1">
    <img  class='lazyload' src="{% static 'img/loading.gif' %}" data-src="{% static 'img/300X600.png' %}"   alt="exemple de oeuvre1">
  </div>
<!-- fin de container contenant les oeuvres et le mot pour les lg  -->
</div>


</div>
