<section class="center cf w-80-m w-100">
  <div data-cat='cat1' id="btnUn"   class="fl w-50 w-50-m w-25-l bg-white-50 tc pv4">1</div>
  <div data-cat='cat2' id="btnDeux" class="fl w-50 w-50-m w-25-l bg-white-50 tc pv4">2</div>
  <div data-cat='cat3' id="btnTroi" class="fl w-50 w-50-m w-25-l bg-white-50 tc pv4">3</div>
  <div data-cat='cat4' id="btnQuat" class="fl w-50 w-50-m w-25-l bg-white-50 tc pv4">4</div>
</section>



<div class="grid mt5">
  <div class="grid-sizer"></div>
  <div class="grid-item cat1">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" />
  </div>
  <div class="grid-item cat1">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" />
  </div>
  <div class="grid-item  cat1">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" />
  </div>
  <div class="grid-item cat2">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" />
  </div>
  <div class="grid-item cat3">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" />
  </div>
  <div class="grid-item cat2">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" />
  </div>
  <div class="grid-item cat4">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" />
  </div>
  <div class="grid-item cat4">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" />
  </div>
  <div class="grid-item cat1">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" />
  </div>
</div>
