<div class="bgblock" id="bghaut">
  <!-- juste le petit bout couleur glaise  -->

<!-- <video src="jipi.mp4" autoplay poster="bg-intro-poster.jpg">
  <source src="https://" type="video/">
  <source src="https://" type="video/">
</video> -->
<div class="full-screen-vid">
  {% load static %}

  <video  muted autoplay poster="{% static 'img/loading.gif' %}">
    <source src="{% static 'img/jipi.mp4' %}" type="video/mp4">
    <source src="{% static 'img/jipi.webm' %}" type="video/webm">
  </video>
  <div class="overlay">
  </div>
  <img id="img-jipi" src="{% static 'img/img-jipi.png' %}" alt="jeanpierre-hallet">
</div>


  <div class="skewbar">
    <!-- ici c'est l'intr le bout ou je met jp cerami.. -->
    <div class="inner-content">


      <h1>Jean-Pierre <br> HALLET</h1>
      <h1>Céramiste<br> Autodidacte</h1>
    </div>

    <!-- ici c'est l'intr le bout ou je met jp cerami.. -->
  </div>

  </div>
