<div class="overflow-hack">

<div id='full-slider' class="full-slider">



  <div class="slider-moving">
{% for event in events %}
<div  data-num="event.pk" data-index="{% if True %}bon{% endif %}" class="modeCom">
  {% include "snippets/eventcard.html" %}
</div>
{% endfor %}
  <!--  <div  data-num="1" class="modeCom">
      <div class="inner-card"></div>
    </div>
    <div  data-num="2" class="modeCom">
      <div class="inner-card"></div>
    </div>
    <div  data-num="3" class="modeCom">
      <div class="inner-card"></div> -->

    </div>
  </div>

</div>


</div>
